{namespace lc=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" xmlns:
      data-namespace-typo3-fluid="true">
<article class="searchresults-item ">
    <f:link.action
        action="details"
        controller="Search"
        pluginName="SearchDetails"
        pageUid="{detailPageId}"
        arguments="{documentId: hit._id}"
        class="searchresults-item-detail-link prefetch-link" >
        <header>
            <div class="searchresults-item-label"  style="view-transition-name: detail-sub-{hit._id};">
                {hit._source.tx_lisztcommon_header}
            </div>
            <div class="searchresults-item-title" style="view-transition-name: detail-headline-{hit._id};">
                <div class="searchresults-item-icon"><i:icon iconfig="{lc:ItemTypeIconName(iconPackKey: 'lziconsr', itemType: hit._source.itemType)}" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></div>
                <h3>
                    {hit._source.tx_lisztcommon_body}
                </h3>
            </div>
        </header>
        <div class="searchresults-item-details">
            {hit._source.tx_lisztcommon_footer}
        </div>
    </f:link.action>
</article>
</html>
